@model OnlineWarehousingInformationSystem.Models.Users
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditUser</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.userID)

        <div>
            <div>
                <b>Username</b>
                @Html.EditorFor(model => model.userName)
                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
            </div>

            <div>
                <b>User Password</b>
                @Html.EditorFor(model => model.userPassword)
                @Html.ValidationMessageFor(model => model.userPassword, "", new { @class = "text-danger" })
            </div>

            <div>
                <b>First Name</b>
                @Html.EditorFor(model => model.firstName)
                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
            </div>

            <div>
                <b>Last Name</b>
                @Html.EditorFor(model => model.lastName)
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
            </div>

            <div>
                <b>User Type</b>
                @Html.EditorFor(model => model.userType)
                @Html.ValidationMessageFor(model => model.userType, "", new { @class = "text-danger" })
            </div>

            <div>
                <b>Address</b>
                @Html.EditorFor(model => model.userAddress)
                @Html.ValidationMessageFor(model => model.userAddress, "", new { @class = "text-danger" })
            </div>

            <div>
                <b>Age</b>
                @Html.EditorFor(model => model.userAge)
                @Html.ValidationMessageFor(model => model.userAge, "", new { @class = "text-danger" })
            </div>

            <div>
                <b>Gender</b>
                @Html.EditorFor(model => model.userGender)
                @Html.ValidationMessageFor(model => model.userGender, "", new { @class = "text-danger" })
            </div>

            <div>
                <input type="submit" name="Update"/>
            </div>
        </div>

    </div>

}
