@model OnlineWarehousingInformationSystem.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/ico" href="~/Content/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div id="main">

        <center style="background-color:lightgray">
            <img src="~/Content/images/logo.png" alt="Alternate Text" />
            <p>Online Warehouse Information System</p>
        </center>
        
        @using (Html.BeginForm())
        {
            <div style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px;
            width: 325px; margin: auto; display: table;">
                <table>
                    <tr>
                        <td valign="top">
                            @Html.LabelFor(model => model.UserName)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.UserName)
                            <div style="height: 20px;">
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "error" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            @Html.LabelFor(model => model.Password)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Password)
                            <div style="height: 20px;">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="submit" value="Login" />
                        </td>
                    </tr>
                    <tr class="checkbox icheck">
                        <td>
                            <input type="checkbox" asp-for="Remember Me">  @Html.DisplayNameFor(m => m.remember)
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.ValidationSummary(true)</td>
                    </tr>
                </table>
            </div>
        }
    </div>
</body>
<</html>

