@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Products</h2>

<input type="button" class="btn btn-info" value="Add a product" onclick="location.href='@Url.Action("AddProduct", "Products")'" />

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <td class="col-lg-1">Product ID</td>
        <td class="col-lg-1">Product Name</td>
        <td class="col-lg-1">Product Image</td>
        <td class="col-lg-1">Total Quantity</td>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>@item.productID</td>
    <td>@item.productName</td>
    <td>@item.productImage</td>

    @if (item.inStock.Equals("0"))
    {
<td>In stock</td>}
    @if (item.inStock.Equals("1"))
    {
<td>Not stock</td>}

    <td>@item.totalQuantity</td>
    <td>
        @Html.ActionLink("Detail", "DetailProduct", "Products", new { id = item.productID }, null) |
        @Html.ActionLink("Edit", "EditProduct", "Products", new { id = item.productID }, null) |
        @Html.ActionLink("Delete", "DeleteFromProducts", "Products", new { id = item.productID }, new { onclick = "return confirm('Are you sure you wish to delete this record?'); " })
    </td>

</tr>}

</table>