
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table table-hover ">
        <thead style="font-weight:700;font-size:110%;">
            <tr>
                <td>Package ID</td>
                <td>Shipping Date</td>
                <td>Current Location</td>
                <td>Shipping Note</td>
            </tr>
        </thead>
        <hr />
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td scope="row">@item.packageID</td>
                    <td>@item.shippingDate</td>
                    <td>@item.currentLocation</td>
                    <td>@item.shippingNote</td>
                    <td>
                        @Html.ActionLink("Detail", "DetailShipping", "Shipping", new { id = item.packageID }, null) |
                        @Html.ActionLink("Edit", "EditShipping", "Shipping", new { id = item.packageID }, null) |
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>



